* {
    font-family: sans-serif;
    background-color: lightskyblue;
}
.titulo {
    color: red;
    display: flex;
}
.pre-texto {
    display: flex;
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px;
}
.post-texto {
    display: flex;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 20px;
    margin-left: 30px;
}
.box-calificacion-1 {
    margin-top: 10px;
    margin-left: 30px;
    width: 200px;
    border-radius: 5px;
    height: 35px;
    border: 2px solid black;
    display: inline-block;
    background-color: white;
}
.box-calificacion-2 {
    margin-top: 10px;
    margin-left: 40px;
    width: 200px;
    border-radius: 5px;
    height: 35px;
    border: 2px solid black;
    display: inline-block;
    background-color: white;
}
.porcentaje-calificacion-1 {
    height: 35px;
    background-color: gold;
    transition: width 200ms;
    width: 0;
}
.box-calificaciones {
    display: flex;
}
.span-porcentaje {
    position: relative;
    color: dodgerblue;
    font-size: 1em;
    top: -15px;
    left: 10px;
}
.calificacion-1 {
    display: flex;
    border-radius: 5px;
    background-color: white;
}
.btn-graficar {
    margin-top: 20px;
    background-color: blue;
    display: flex;
    border-radius: 5px;
    border: none;
    color: white;
    width: 100px;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-graficar:hover {
    background-color: rgb(4, 4, 122);
    transition: background-color 500ms;
}